.container { 
        
}
h1{
    text-align: center;
    margin: 30px;
    padding: 10px;
}
.row{
    width: 100%; 
    position: absolute;  
}
nav{
    border: 3px solid black;
    top: -5px;
    right: -5px;
    float: right;
    position: relative;
    padding: 5px;
    width: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 105%;

}
.column{
    width: 50%;
    float: left;
    background-color: grey;
    padding: 5px;
    border: 20px solid white;
    box-sizing: border-box; 
    margin: auto;
    position: relative;
}
p{
    margin-top: 40px;
}

.red{ background-color: red;}
.green{ background-color: green;}
.blue{ background-color: blue;}

@media (min-width: 992px ) {
    .column {
        width: 33.33%;
    }
}
@media (max-width: 991px ) and (min-width:768px) {
    .first .second {
        width: 100%;
        margin: auto;
    }
    .third {
        width: 100%;
    }
}
@media (max-width: 767px ) {
    .column {
        width: 100%;
    }
}